.container {
    width: 1110px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .book-container {
    display: flex;
    width: 100%;
  }

  .menu {
    width: 279px;
    /* margin-right: 6px; */
    /* height: 100%; */
}

@media screen and (max-width: 768px) {
 
  .menu {
    display: none;
  }

  .container {
    padding: 0 64px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {

  .container {
    padding: 0 16px;
  }
}