.slider {
    overflow: hidden;
    /* position: relative; */
    /* height: 198px; */
    z-index: 0;
    height: 100%;
    max-width: 136px;
}

.slider-big {
    z-index: 0;
    height: 100%;
    overflow: hidden;
    width: 445px;
}
.slide-list {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 198px;
}
.slide {
flex: 1 0 100%;
width: 100%;
border: 2px solid transparent;
/* position: relative; */
}
.slide-image {
display: flex;
/* margin: 0 auto; */
width: 100%;
height: 100%;
border-radius: 20px;
border: 2px solid #363636;

/* object-fit: contain; */
}

.slide-title {
text-align: center;
margin-top: 10px;
}
 
.dots {
  margin-top: 10px;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.dot {
  border-radius: 50%;
  background-color: #A7A7A7;
  width: 8px;
  height: 8px;
}

.dot.selected {
  background-color: #363636;
}

.one-image {
  min-width: 65px;
  height: 86px;
  border: 1px solid transparent;
  /* border-radius: 10px; */
  overflow: hidden;
}

.images {
  margin-top: 17px;
  display: flex;
  gap: 30px;
  /* height: 88px; */
  width: 100%;
  justify-content: center;
  /* overflow-x: scroll; */
  padding-bottom: 10px;
}

.images-scroll {
  margin-top: 17px;
  display: flex;
  gap: 30px;
  /* height: 88px; */
  width: 100%;
  /* justify-content: center; */
  overflow-x: scroll;
  padding-bottom: 10px;
}

.images-scroll::-webkit-scrollbar {
  height: 10px;
}

.images-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
}

.images-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.images-scroll::-webkit-scrollbar-thumb:hover {
  background: #A7A7A7;
}

.one-image.selected {
  border: 1px solid red;
}
 
.slide-big {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 593px;
}

@media screen and (max-width: 320px) {

  .slide-list {
    width: 100%;
    height: 260px;
    margin: 0 auto;
  }

  .slider {
    width: 188px;
  }
}
  