.content {
    margin-left: 6px; 
    /* width: 100%; */
}

.navBar {
    width: 825px;
    height: 38px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    /* margin-top: 47px; */
    justify-content: space-between;
}

.navBar > div {
    display: flex;
    gap: 16px;
}

.search {
    display: flex;
    width: 350px;
    height: 38px;
    border-radius: 599px;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    align-items: center;
}

.search-txt {
    width: 90%;
    height: 18px;
    color: #A7A7A7;
    border: none;
    outline: none;
}

.search-txt::placeholder {
    color: #A7A7A7;
}

.searchIcon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.filter {
    /* margin-left: 16px; */
    display: block;
    /* width: 150px; */
    min-height: 38px;
    border-radius: 20px;
    padding: 8px 16px 8px 16px;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    align-items: center;
    /* margin-right: 212px; */
    position: absolute;
    /* left: 65%; */
    /* right: 50.56%; */
    /* z-index: 10; */
    color: #A7A7A7;
    background-color: #ffffff;
}

.navBar > .filter {
    display: block;
}

.filter-txt {
    width: 90%;
    height: 18px;
    color: #A7A7A7;
    border: none;
    outline: none;
    margin-left: 12px;
}

.filerIcon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.button-icon {
    margin-left: 16px;
    width: 38px;
    height: 38px;
}

.count {
    color: #A7A7A7;
    margin-left: 6px;
}

.count.active {
    color: black;
}

.category-book {
    max-width: 279px;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #363636;
    /* margin-top: 42px;   */
}

/* .category-book {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
} */

.category-many > .category-book {
    padding: 0;
    border-bottom: none;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
}

.category-many > .category-book.active {
    border-bottom: none;

}


.category-many.open {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 20px;
    gap: 16px;
    line-height: 24px;
}


.category-book:hover {
    cursor: pointer;
    background-image: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
	background-clip: text;
	-webkit-background-clip: text;
    color: transparent;     

}

.category-book:hover  .count {
    color: black;
}

.all-book {
    margin-left: 20px;
}

.category-many {
    flex: 1 1 auto;
    display: none;
}

.category {
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}


/* .category.active {
    background-image: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
	background-clip: text;
	-webkit-background-clip: text;
    color: transparent;  
    padding: 8px 0;
    border-bottom: 1px solid hsl(24, 91%, 54%);  
} */

.category > .category-book {
    width: auto;
}

.category-book {
    width: 255px;
    padding: 8px 0;
    align-items: center;
}


.category > .category-book {
    margin: 0;
    display: flex;
    /* justify-content: space-between; */
    gap: 82px;
}

/* .category:hover {
    cursor: pointer;
    background-image: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
	background-clip: text;
	-webkit-background-clip: text;
    color: transparent;    
} */


.category-name {
    width: 100%;
    
}

.my-button {
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
	/* background-clip: text; */
	/* -webkit-background-clip: text; */
    /* color: transparent;    */
    color: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 166px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.my-button:hover {
    background: white;
    color:#363636;
    border: 1px solid #363636;
    transition: .1s;
    cursor: pointer;
}

.category-book.active {
    background-image: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
	background-clip: text;
	/* -webkit-background-clip: text; */
    color: transparent;  
    font-size: 18px;
    border-bottom: 2px solid #FF8C00; 
}

.text {
    color: #A7A7A7;
    font-size: 16px;
}

.select-list {
    padding-top: 10px;
    display: none;
}

.select-list > div {
    padding: 8px;
    padding-left: 25px;
}

.select-list > div:hover {
    color: #363636;
    cursor: pointer;
}

.select-list.opened {
    display: block;
}

.filter > div {
    display: flex;
    gap: 8px;
}

.category-book.active > div> .count {
    color: black;
}

.title {
    width: 255px;
}

.category-book.active >  div > img {
    display: inline-block;
}
.category-book >  div > img {
    /* padding: 5px; */
    display: none;
}






.content-button {
    min-width: 38px;
    height: 38px;
    background-size: cover;
    display: flex;
}

.content-button.active {
    background-image: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
	background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
}

/* .category-book >  div > img {
    display: none;
    width: 14px;
    height: 8px;
} */

/* .search-txt.open{
    width: 100%;
    height: 18px;
    color: #A7A7A7;
    border: none;
    outline: none;
} */

.search-txt:focus, .search-txt.open:focus {
    /* background-image: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
	background-clip: text;
	-webkit-background-clip: text;
    color: transparent; */
    color: hsl(34, 96%, 55%);
}

.button.closed {
    display: none;
}

@media screen and (max-width: 768px) {
    .search {
        width: 274px
    }

    .content {
        margin-left: 0; 
        width: 100%;
    }

    .navBar {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 320px) {
    .search-txt, .filter-txt {
        /* display: none; */
        width: 0;
        margin: 0;
    }

    .search, .filter {
        width: 32px;
        height: 32px;
        padding: 8px;
    }

    .filter.closed {
        display: none;
    }

    .search.open {
        width: 100%;
    }
    
    .utils {
        width: 100%;
    }

    .button.closed {
        display: none;
    }
    

    .searchIcon, .filterIcon  {
        margin-right: 0;
        min-width: 16px;
        height: 16px;
    }

    .content-button {
        min-width: 32px;
        height: 32px;
    }

    .content-button.closed {
        display: none;
    }
  }